@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <span class="me-2">Hello, @context.User.Identity?.Name!</span>
        <button class="btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogout()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
